@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');


*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}



body{

background:#050816;
color:white;
overflow-x:hidden;

}



.stars{

position:fixed;
width:100%;
height:100%;

background:

radial-gradient(circle at top,#1e1b4b,transparent 40%),

linear-gradient(#050816,#020617);

z-index:-1;

}



header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 19px 4%;
    background: rgba(5, 8, 22, 0.85);
    backdrop-filter: blur(15px);
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: white;
}

.logo span {
    color: #38bdf8;
}

nav ul{
    display:flex;
    align-items:center;
    justify-content:flex-end;
    gap:18px;
    list-style:none;
    margin:0;
    padding:0;
    flex-wrap:nowrap;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #f472b6;
}
ul{

display:flex;
gap:35px;
list-style:none;

}



a{

color:white;
text-decoration:none;

}



.hero{

height:100vh;

display:flex;
align-items:center;
justify-content:center;

text-align:center;

}



.hero-content{

max-width:800px;

}



.code{

color:#38bdf8;

font-family:monospace;

font-size:18px;

}



h1{

font-size:70px;
margin:20px 0;

}



h1 span{

background:linear-gradient(
45deg,
#38bdf8,
#c084fc,
#f472b6
);

-webkit-background-clip:text;

color:transparent;

}



h3{

font-size:30px;

color:#f472b6;

}



p{

font-size:18px;

line-height:1.8;

}



.btn{

display:inline-block;

margin-top:35px;

padding:15px 35px;

border-radius:50px;


background:linear-gradient(
45deg,
#8b5cf6,
#38bdf8
);


transition:.4s;

}



.btn:hover{

transform:translateY(-8px);

box-shadow:0 0 40px #38bdf8;

}



/* Loading */

.loader{

position:fixed;

inset:0;

background:#050816;

display:flex;

flex-direction:column;

align-items:center;

justify-content:center;

z-index:999;

}



.loading-bar{

width:300px;

height:8px;

background:#222;

border-radius:20px;

margin:20px;

overflow:hidden;

}



.loading-bar div{

height:100%;

width:0;

background:#38bdf8;

animation:load 3s forwards;

}



@keyframes load{

to{

width:100%;

}

}




/* ===================
      US PAGE
=================== */


.friend-hero{

min-height:100vh;

display:flex;

align-items:center;

justify-content:center;

gap:80px;

padding:120px 10%;

}


.friend-text{

max-width:550px;

}



.friend-text h1{

font-size:60px;

}




.ai-girls{


width:350px;

height:350px;

border-radius:50%;


display:flex;

align-items:center;

justify-content:center;


font-size:90px;


background:

linear-gradient(
135deg,
rgba(56,189,248,.2),
rgba(192,132,252,.3)
);


box-shadow:

0 0 80px rgba(56,189,248,.5);


animation:

float 4s infinite ease-in-out;


}



@keyframes float{


50%{

transform:translateY(-25px);

}


}




.code-section,
.timeline,
.promise{


padding:100px 10%;

text-align:center;


}



.code-card{


margin:40px auto;

max-width:700px;


background:

rgba(255,255,255,.08);


border:

1px solid rgba(255,255,255,.15);


border-radius:20px;


padding:30px;


text-align:left;


backdrop-filter:blur(20px);


}



pre{

color:#38bdf8;

font-size:16px;

}



.timeline-box{


max-width:800px;

margin:auto;

border-left:

3px solid #38bdf8;


}



.event{


padding:30px;

margin:30px;

background:

rgba(255,255,255,.07);


border-radius:20px;


text-align:left;


transition:.4s;


}



.event:hover{


transform:translateX(15px);


box-shadow:

0 0 30px #38bdf8;


}



.status-card{


margin:40px auto;

max-width:500px;


padding:40px;


border-radius:30px;


background:

linear-gradient(

135deg,

rgba(56,189,248,.2),

rgba(244,114,182,.2)

);


}



.status-card h1{


color:#38fbbd;

font-size:45px;


}




@media(max-width:800px){


.friend-hero{

flex-direction:column;

}



.friend-text h1{

font-size:40px;

}


}
/* ==========================
       MEMORIES PAGE
========================== */


.memory-hero{

min-height:70vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

padding:120px 10%;

}



.memory-hero h1{

font-size:65px;

}



.gallery{


padding:50px 8%;


display:grid;


grid-template-columns:

repeat(auto-fit,minmax(280px,1fr));


gap:40px;


}




.memory-card{


background:

rgba(255,255,255,.08);


border-radius:25px;


padding:25px;


backdrop-filter:blur(15px);


transition:.5s;


border:

1px solid rgba(255,255,255,.15);


}



.memory-card:hover{


transform:

translateY(-15px)
rotate(1deg);


box-shadow:

0 0 40px #38bdf8;


}




.photo{


height:260px;

overflow:hidden;

border-radius:20px;

}



.photo img{


width:100%;

height:100%;


object-fit:cover;


transition:.5s;


}



.memory-card:hover img{


transform:scale(1.1);


}




.memory-card span{


color:#38bdf8;


font-family:monospace;


}



.memory-terminal{


padding:100px 10%;

text-align:center;


}




.terminal-box{


max-width:600px;

margin:auto;


background:#020617;


border-radius:20px;


padding:40px;


text-align:left;


font-family:monospace;


border:

1px solid #38bdf8;


box-shadow:

0 0 30px rgba(56,189,248,.4);


}



.terminal-box p{


color:#38bdf8;


}



.terminal-box h3{


color:#f472b6;


font-size:25px;


}
/* =========================
       WISHES PAGE
========================= */


.wish-hero{

height:70vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

padding:100px 10%;

}



.wish-hero h1{

font-size:70px;

background:

linear-gradient(
45deg,
#38bdf8,
#f472b6,
#c084fc
);

-webkit-background-clip:text;

color:transparent;

}




.wish-container{


padding:50px 10%;


display:grid;


grid-template-columns:

repeat(auto-fit,minmax(250px,1fr));


gap:30px;


}





.wish-card{


padding:35px;


border-radius:25px;


background:

rgba(255,255,255,.08);


border:

1px solid rgba(255,255,255,.15);


backdrop-filter:blur(15px);


transition:.5s;


}



.wish-card:hover{


transform:

translateY(-12px)
scale(1.03);


box-shadow:

0 0 35px #c084fc;


}



.wish-card h2{


color:#38bdf8;

font-size:40px;


}



.wish-card p{


margin-top:15px;


}



.final-wish{


background:

linear-gradient(

135deg,

rgba(244,114,182,.3),

rgba(56,189,248,.3)

);


}/* ======================
       SURPRISE PAGE
====================== */


.surprise-page{


min-height:100vh;

padding:150px 10%;


text-align:center;


}




.terminal{


max-width:650px;

margin:auto;


background:#020617;


border-radius:20px;


padding:40px;


text-align:left;


font-family:monospace;


border:1px solid #38bdf8;


box-shadow:

0 0 40px rgba(56,189,248,.5);


}




.terminal p{


color:#38bdf8;

font-size:18px;


}



.success{

color:#4ade80!important;

}



.terminal h2{


color:#f472b6;


text-align:center;


margin-top:30px;


}





.cake-area{


margin-top:100px;


}




.cake{


position:relative;

width:200px;

margin:auto;


}



.layer{


height:70px;

background:#f472b6;

border-radius:20px;

margin-top:5px;


}



.layer.second{


width:170px;

margin:auto;

background:#c084fc;


}



.layer.third{


width:140px;

margin:auto;

background:#38bdf8;


}



.candle{


height:60px;

width:12px;

background:white;

margin:auto;

position:relative;


}



.fire{

width:20px;
height:20px;

background:#fbbf24;

border-radius:50%;

position:absolute;

top:-20px;

left:-4px;


opacity:0;


filter:drop-shadow(0 0 10px orange);


animation:flame .5s infinite alternate;

}



.fire.active{

opacity:1;

}



@keyframes flame{


from{

transform:scale(1);

}


to{

transform:scale(1.3);

}


}
#wishMessage{


margin-top:30px;

font-size:22px;

color:#f472b6;


opacity:0;

transition:1s;


}



#wishMessage.show{


opacity:1;


}




.cake-area button{


margin-top:40px;


padding:18px 40px;


border:none;


border-radius:50px;


font-size:18px;


cursor:pointer;


background:

linear-gradient(
45deg,
#f472b6,
#38bdf8
);


color:white;


}




.final-message{


margin:100px auto;


max-width:700px;


padding:50px;


border-radius:30px;


background:

rgba(255,255,255,.08);


backdrop-filter:blur(20px);


}



.final-message h1{


font-size:55px;


}



.final-message p{


font-size:20px;


line-height:2;


}
@keyframes fall{

to{

transform:
translateY(100vh)
rotate(360deg);

}


}


